*{

    body{
        display: flex;
        place-items: center;
        position: absolute;
        left: 48%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #130227;
    }

    .contenedor{
    text-align: center;

    }
    
    .cartel {

        filter: drop-shadow(0px 0px 30px #2a0553);
        position: relative;
        z-index: 1;
    }

}


    .Boton{

        margin-top: 95%;
        margin-left: 7%;

        filter: drop-shadow(0px 0px 10px #78dd3d);
        position: absolute;
        z-index: 2;

        animation-name: pulso;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

    }


    @keyframes pulso {
    0% { transform: scale(1);}
    50% { transform: scale(1.1);}
    100% {transform: scale(1);}
    }









